.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.phpunit.result.cache
/docker-compose.yml
/Dockerfile
/Vagrantfile
/COPYRIGHT.md
/LICENSE.md
/psalm.xml
/README.md
/phpcs.xml
/phpunit.xml.dist
/renovate.json
/config/autoload/development.local.php.dist
/config/autoload/laminas-developer-tools.local-development.php
/config/development.config.php.dist
/docker/
/.idea/
